@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

@define-color text #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color sapphire #74c7ec;
@define-color sky #89dceb;
@define-color teal #94e2d5;
@define-color green #a6e3a1;
@define-color yellow #f9e2af;
@define-color peach #fab387;
@define-color maroon #eba0ac;
@define-color red #f38ba8;
@define-color mauve #cba6f7;
@define-color pink #f5c2e7;
@define-color flamingo #f2cdcd;
@define-color rosewater #f5e0dc;

* {
  border: none;
  border-radius: 0;
  font-family: Roboto;
}

window#waybar.top_bar {
  background-color: alpha(@base, 1);
}

#user {
  padding-left: 10px;
}

#language {
  padding-left: 15px;
}

#keyboard-state label.locked {
  color: @yellow;
}

#keyboard-state label {
  color: @subtext0;
}

#workspaces {
  margin-left: 10px;
}

#workspaces button.active {
  color: @mauve;
}

#workspaces button {
  color: @text;
}

#submap {
  background-color: alpha(@surface1, 1);
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

window#waybar.top_bar .modules-center {
  font-weight: bold;
  color: @mauve;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.modules-right * {
  margin: 0 3px;
}

#custom-separator {
  color: @green;
}

#custom-separator_dot {
  color: @green;
}

#clock.time {
  color: @flamingo;
}

#clock.week {
  color: @sapphire;
}

#clock.month {
  color: @sapphire;
}

#clock.calendar {
  color: @mauve;
}

#bluetooth {
  color: @text;
}

#bluetooth.disabled {
  background-color: alpha(@surface0, 1);
  color: @subtext0;
}

#bluetooth.on {
  color: @blue;
}

#bluetooth.connected {
  color: @sapphire;
}

#network {
  /* background-color: alpha(@surface1, 1); */
  /* border-radius: 15; */
  /* margin: 0 0; */
}

#network.disabled {
  background-color: alpha(@surface0, 1);
  color: @subtext0;
}

#network.disconnected {
  color: @red;
}

#network.wifi {
  color: @teal;
}

#idle_inhibitor {}

#idle_inhibitor.deactivated {
  color: @subtext0;
}

#custom-dunst.off {
  color: @subtext0;
}

#custom-airplane_mode {
  margin-right: 2px;
}

#custom-airplane_mode.off {
  color: @subtext0;
}

#custom-night_mode {
  margin-right: 2px;
}

#custom-night_mode.off {
  color: @subtext0;
}

#custom-dunst {
  margin-right: 2px;
}

#custom-media {}

#custom-media.Paused {
  color: @subtext0;
}

#custom-recording {
  color: @red;
  margin-right: 4px;
}

#custom-geo {
  color: @yellow;
  margin-right: 4px;
}

#custom-logout_menu {
  color: @red;
  /* background-color: alpha(@surface1, 1); */
  /* border-radius: 15 0 0 15; */
  padding-left: 10px;
  padding-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#taskbar {
  /* margin-top: 10; */
  /* margin-right: 10; */
  /* margin-left: 10; */
}

#taskbar * {
  margin: 0 2px;
  color: @text;
}

#taskbar button.active {
  background-color: alpha(@surface1, 1);
}

button:hover {
  background-color: @mauve;
}

#tray {
  /* margin-bottom: 10px; */
  /* margin-right: 10px; */
  /* margin-left: 10px; */
}

#tray>.needs-attention {
  background-color: alpha(@maroon, 1);
}

#cpu {
  color: @sapphire;
}

#cpu.low {
  color: @rosewater;
}

#cpu.lower-medium {
  color: @yellow;
}

#cpu.medium {
  color: @peach;
}

#cpu.upper-medium {
  color: @maroon;
}

#cpu.high {
  color: @red;
}

#memory {
  color: @sapphire;
}

#memory.low {
  color: @rosewater;
}

#memory.lower-medium {
  color: @yellow;
}

#memory.medium {
  color: @peach;
}

#memory.upper-medium {
  color: @maroon;
}

#memory.high {
  color: @red;
}

#disk {
  color: @sapphire;
}

#disk.low {
  color: @rosewater;
}

#disk.lower-medium {
  color: @yellow;
}

#disk.medium {
  color: @peach;
}

#disk.upper-medium {
  color: @maroon;
}

#disk.high {
  color: @red;
}

#temperature {
  color: @green;
}

#temperature.critical {
  color: @red;
}

#battery {
  color: @teal;
}

#battery.low {
  color: @red;
}

#battery.lower-medium {
  color: @maroon;
}

#battery.medium {
  color: @peach;
}

#battery.upper-medium {
  color: @flamingo;
}

#battery.high {
  color: @rosewater;
}

#backlight {
  color: @overlay0;
}

#backlight.low {
  color: @overlay1;
}

#backlight.lower-medium {
  color: @overlay2;
}

#backlight.medium {
  color: @subtext0;
}

#backlight.upper-medium {
  color: @subtext1;
}

#backlight.high {
  color: @text;
}

#pulseaudio.bluetooth {
  color: @sapphire;
}

#pulseaudio.muted {
  color: @surface2;
}

#pulseaudio {
  color: @text;
}

#pulseaudio.low {
  color: @overlay0;
}

#pulseaudio.lower-medium {
  color: @overlay1;
}

#pulseaudio.medium {
  color: @overlay2;
}

#pulseaudio.upper-medium {
  color: @subtext0;
}

#pulseaudio.high {
  color: @subtext1;
}
